In [1]:
#usando a funcao series 
from pandas import Series

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.4'

In [4]:
#criando uma serie sem especificar o indice
ob = Series([67, 78, -56, 13])

In [5]:
ob

0    67
1    78
2   -56
3    13
dtype: int64

In [6]:
#imprimindo os valores e indices do objeto
ob.values
ob.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#criando uma serie e especificando o indice
ob1 = Series([87, 85, 74, 98], index = ['a','b','c','d'])

In [10]:
ob1

a    87
b    85
c    74
d    98
dtype: int64

In [11]:
ob1.values

array([87, 85, 74, 98])

In [12]:
ob1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
#filtando valores 
ob1[ob1 > 85]

a    87
d    98
dtype: int64

In [14]:
#trazendo apenas um indice
ob1['b']

85

In [15]:
#verificando se existe 
'd' in ob1

True

In [16]:
#criando uma serie de dados e passando um dicionario como parametro
dict = {'Futebol': 5200, 'Tenis': 120, 'Natacao': 698, 'Volleyball':1550}

In [17]:
obj = Series(dict)

In [18]:
obj

Futebol       5200
Tenis          120
Natacao        698
Volleyball    1550
dtype: int64

In [19]:
#criando uma lista 
espoertes = ['Futebol', 'Tenis', 'Natacao', 'Basketeball']

In [20]:
#criando uma serie e usando a lista como indice
obj1 = Series(dict, index=espoertes)

In [21]:
obj1

Futebol        5200.0
Tenis           120.0
Natacao         698.0
Basketeball       NaN
dtype: float64

In [23]:
#verificando se tem valores null 
pd.isnull(obj1)

Futebol        False
Tenis          False
Natacao        False
Basketeball     True
dtype: bool

In [25]:
#verificando se tem valores nao nulo
pd.notnull(obj1)

Futebol         True
Tenis           True
Natacao         True
Basketeball    False
dtype: bool

In [26]:
obj1.isnull()

Futebol        False
Tenis          False
Natacao        False
Basketeball     True
dtype: bool

In [27]:
#concatenando sereies
obj + obj1

Basketeball        NaN
Futebol        10400.0
Natacao         1396.0
Tenis            240.0
Volleyball         NaN
dtype: float64

In [28]:
#dando nome ao objeto
obj.name = 'populacao'

In [29]:
obj1.index.name = 'esporte'

In [30]:
obj1

esporte
Futebol        5200.0
Tenis           120.0
Natacao         698.0
Basketeball       NaN
dtype: float64

In [31]:
obj

Futebol       5200
Tenis          120
Natacao        698
Volleyball    1550
Name: populacao, dtype: int64