In [14]:
#usando uma funcao anonima
lst = [5,8,9,7]
map (lambda x,y:x+y,lst)

In [18]:
temperaturas = [52,45,20,18,5]

In [19]:
#criando uma funcao anonima com o map, que necessita de dois parametros, o primeiro para executar sobre o segundo parametro
list(map(lambda x: (5.0/9)*(x-32),temperaturas))

[11.11111111111111,
 7.222222222222222,
 -6.666666666666667,
 -7.777777777777779,
 -15.0]

In [22]:
from functools import reduce
#funcao 

def soma(a,b):
    x = a + b
    return x

In [23]:
#usando a funcao reduce para obter a soma

reduce(soma,temperaturas)

140

In [32]:
#atribuindo uma expressao a uma funcao anonima

max1 = lambda a,b : a if (a>b) else b

In [35]:
print(max1)

<function <lambda> at 0x7fd97832d510>

In [36]:
reduce(max1,temperaturas)

52

In [37]:
#usando a funcao filter
def verificaPar(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [38]:
verificaPar(57)

False

In [40]:
verificaPar(28)

True

In [41]:
lst = [2,3,4,2,1,5,3,6,7,4,3,5,6,3]

In [42]:
lst

[2, 3, 4, 2, 1, 5, 3, 6, 7, 4, 3, 5, 6, 3]

In [43]:
filter(verificaPar,lst)

In [45]:
list(filter(verificaPar,lst))

[2, 4, 2, 6, 4, 6]

In [46]:
#usando a funcao anonima
filter(lambda x: x%2==0,lst)

In [47]:
list(filter(lambda x: x%2==0,lst))

[2, 4, 2, 6, 4, 6]

In [48]:
filter(lambda num: num > 6,lst)

In [49]:
list(filter(lambda num: num > 6,lst))

[7]

In [52]:
#usando o list comprehension
lst = [x for x in range(11) if x % 2!=0]

In [53]:
lst

[1, 3, 5, 7, 9]

In [54]:
#operacoes aninhadas

lst = [x**2 for x in[x**2 for x in range(15)]]

In [55]:
lst

[0,
 1,
 16,
 81,
 256,
 625,
 1296,
 2401,
 4096,
 6561,
 10000,
 14641,
 20736,
 28561,
 38416]

In [56]:
#usando a funcao ZIP
#criando 2 listas
a = [3,4,2,5]
b = [6,8,5,9]

In [57]:
#unindo as listas usando o zip, faz a uniao do primeiro elemento de cada tupla ou lista ou dicionario
zip(a,b)

In [58]:
list(zip(a,b))

[(3, 6), (4, 8), (2, 5), (5, 9)]

In [76]:
#quando se tem um numero menor de valores numa lista, o zip cria as tuplas com o numero menor de elementos
list(zip('ABCD', 'xy'))

[('A', 'x'), ('B', 'y')]

In [77]:
#criando dicionarios
d1 = {'a':2, 'b':4}
d2 = {'c':5,'d':5}

In [78]:
list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

In [81]:
#zip pode unir os valors
list(zip(d1, d2.values()))

[('a', 5), ('b', 5)]

In [83]:
#criando a funcao para trocar de valores
def trocadeValores(d1,d2):
    dictTemp={}
    for d1key,d2val in zip(d1,d2.values()):
        dictTemp[d1key]=d2val
    return dictTemp

In [86]:
trocadeValores(d1,d2)

{'a': 5, 'b': 5}

In [87]:
#usando o enumerate
seq = ['a','b','c','d']

In [88]:
enumerate(seq)

In [89]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [1]:
def imprimeDados( nome, idade ):
    print ("%s tem %s anos." %(nome, idade))
    return;

imprimeDados( idade=30, nome="Bob" )

Bob tem 30 anos.